* {
  margin : 0;
  padding: 0;
}

.card {
  box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  margin       : min(20px);
  text-align   : center;
  width        : 300px;
  font-family  : sans-serif;
}

.card-image {
  border-radius: 10% 10% 0 0;
}

.card-description {
  padding: 10px;
}

header {
  background-color: rgb(18, 18, 18);
  color           : silver;
  font-family     : 'JetBrains Mono', monospace;
  font-size       : large;
  padding         : 20px;
  text-align      : center;
  box-shadow      : 0 0 6px rgb(18, 18, 18);
}

main {
  align-items    : center;
  display        : flex;
  flex-wrap      : wrap;
  height         : 80vh;
  justify-content: space-evenly;
  width          : 100%;
}

.title {
  text-shadow: 0 0 6px silver;
}